@import url(http://fonts.googleapis.com/css?family=Roboto:400,300,400italic,500,700|Ropa+Sans|Oswald);

@import url(//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.1.0/css/font-awesome.min.css);

html, body {
	padding: 0;
	margin: 0;
}

body {
	font-family: 'Roboto',Arial,sans-serif;
	font-size: 16px;
	line-height: 28px;
	color: #fff;
	position: relative;
	-webkit-text-size-adjust: none;
	background:url(../images/sun.jpg) no-repeat center center fixed;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	-o-background-size:cover;
	background-size:cover;
}

body * {
	text-shadow: none;
}
			
a {
	color:#5AD37A;
}

#page {
	background:rgba(0, 0, 0, 0.6);
	top:0px;
	left:0px;
	bottom:0px;
	right:0px;
}
